.node {
  width: 25px;
  height: 25px;
  border: 1px solid #959595ae;
}

.initial {
  background-color: #f0bd05;
}

.final {
  background-color: rgb(235, 235, 235);
}

.visited {
  background-color: rgb(215, 215, 215);
}

.shortest {
  background-color: #ffcb11;
}
