.node {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(87, 134, 132);
}

.initial {
  background-color: green;
}

.final {
  background-color: greenyellow;
}

.visited {
  background-color: blue;
}

.shortest {
  background-color: yellow;
}
