<div class="wrapper">
  <h1>O Algoritmo de Dijkstra</h1>

  <p>O algoritmo de Dijkstra foi concebido por Edsger Dijkstra em 1956 e publicado em 1959.
    Sua proposta é encontrar o menor caminho / custo entre nós de um grafo. A partir de um
    único nó escolhido, a sequência de passos criada por Dijkstra encontra a forma menos
    custosa de se sair desse ponto até alcançar todos os outros no grafo.
  </p>

  <h2>Funcionamento</h2>
  <p>Antes de se iniciar o algoritmo, deve-se considerar que cada nó possui uma distância
    infinita da fonte escolhida, exceto o nó que representa a fonte, cuja distância deve
    ser 0.
  </p>
  <p>A sequência de passos pode ser descrita da seguinte forma</p>
  <ol>
    <li>Mova-se para o nó mais próximo do seu ponto de início.</li>
    <li>Marque o nó como visitado.</li>
    <li>Encontre as distâncias entre o nó atual e seus nós adjacentes e registre-as.</li>
    <li>Mova-se para o nó ainda não visitado com a menor distância à fonte.</li>
    <li>Repita até visitar todos os nós ou encontrar o nó desejado.</li>
  </ol>

  <h2>Utilizações</h2>
  <ul>
    <li>GPS</li>
    <li>Redes Sociais</li>
    <li>Roteamento de redes</li>
    <li>Etc</li>
  </ul>

  <h2>Referências</h2>
  <p>UFSC. Algoritmo de Dijkstra para cálculo do Caminho de Custo Mínimo. Disponível em
    <a target="_blank" href="http://www.inf.ufsc.br/grafos/temas/custo-minimo/dijkstra.html">
      http://www.inf.ufsc.br/grafos/temas/custo-minimo/dijkstra.html
    </a>. Acesso em 10/10/2022.
  </p>
  <p>FREECODECAMP. Algoritmo de caminho de custo mínimo de Dijkstra - uma introdução
    detalhada e visual. Disponível em
    <a target="_blank" href="https://www.freecodecamp.org/portuguese/news/algoritmo-de-caminho-de-custo-minimo-de-dijkstra-uma-introducao-detalhada-e-visual/">
      https://www.freecodecamp.org/portuguese/news/algoritmo-de-caminho-de-custo-minimo-de-dijkstra-uma-introducao-detalhada-e-visual/.
    </a>
    Acesso em 10/10/2022.
  </p>
  <p>WIKIPEDIA. Algoritmo de Dijkstra. Disponível em
    <a target="_blank" href="https://pt.wikipedia.org/wiki/Algoritmo_de_Dijkstra">
      https://pt.wikipedia.org/wiki/Algoritmo_de_Dijkstra.
    </a>
    Acesso em 10/10/2022.
  </p>
  <p>Clément Mihailescu. The Projects That Got Me Into Google (tips for software engineering projects).
    Disponível em
    <a target="_blank" href="https://www.youtube.com/watch?v=n4t_-NjY_Sg&t=934s&ab_channel=Cl%C3%A9mentMihailescu">
      https://www.youtube.com/watch?v=n4t_-NjY_Sg&t=934s&ab_channel=Cl%C3%A9mentMihailescu
    </a>.
    Acesso em 10/10/2022.
  </p>
</div>
